@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700&display=swap');
:root{
    --solway: "Solway"
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.whole-page{
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
}
.main-section{
    display: flex;
}
.header{
    grid-column: 2;
}
.dashboard{
    grid-row: 1 / -1;
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.main-aside{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
}