@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700&display=swap');
:root{
    --solway: "Solway"
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, black, sandybrown);
    width: 85vw;
}
.whole-page{
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
    width: 85vw;
    height: 100vh;
    font-family: var(--solway);
    margin-left: 15rem;
}
.main-section{
    display: flex;
    background: rgba(252, 248, 3, 0.493);
    overflow: hidden;
}
header.header{
    grid-column: 2;
    background: yellow;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1.2fr;
    height: 16vh;
}
.search-bar{
    display: grid;
    justify-content: start;
    align-items: center;
    margin: 0 5%;
    grid-template-columns: 1fr 7fr;
    }
#search-input{
    width: 95%;
    height: 2.5rem;
    border: none;
    border-radius: 1rem;
    font-family: cursive;
    font-weight: 300;
    font-size: 1.3rem;
    padding-left: 1.3rem;
}
.dashboard{
    grid-row: 1 / -1;
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    gap: 1.3rem;
}
.main-aside{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
}
/* _______________________________________________________________________________________________________________ */

aside.dashboard{
    background: black;
    color: yellow;
    display: grid;
    grid-template-rows: 1fr 7fr;
    justify-content: center;
    width: 16rem;
}
aside.dashboard a{
    text-decoration: none;
    display: grid;
    justify-content: center;
    align-items: center;
}
aside.dashboard h2{
    margin-top: 1rem;
}
aside.dashboard ul {
    margin-top: 1rem;
    display: grid;
    list-style-type: none;
    justify-content: center;
    grid-template-rows: repeat(11, 0.4fr);
}
aside.dashboard ul li{
    color: yellow;
    padding: 1.1rem;
}
header>div+div {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
}
header>div+div>img{
    max-width: 2.5rem;
    margin-left: auto;
}
header>div+div>img+img{
    max-width: 3.5rem;
    border-radius: 50%;
    margin-left: 1rem;
}
header>div+div>img+img+p{
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    font-weight: 900;
}
header>div+div+div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
header>div+div+div>img{
    max-width: 6rem;
    border-radius: 50%;
    margin-left: 2rem;
}
header>div+div+div>div{
    display: grid;
    grid-template-rows: 1fr 3fr;
}
header>div+div+div>div>span{
    font-size: 1.3rem;
    font-weight: 300;
}
header>div+div+div>div>p{
    font-size: 3rem;
    font-weight: 500;
}
header>div+div+div+div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
header>div+div+div+div button{
    height: 3rem;
    margin: 0 0.8rem;
    background: black;
    color: yellow;
    border-radius: 25%;
    font-size: 1.2rem;
    font-weight: 700;
}
article.item-card{
    border: 2px solid black;
    max-width: 80%;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr 5fr;
    border-left-width: 1rem;
    border-left-color: sienna;
    text-align: initial;
    gap: 1rem;
}
article.item-card.top{
    margin-top: 0.5rem;
}
article.item-card h3{
    font-size: 1.5rem;
    font-weight: 900;
    padding-top: 1rem;
}
article.item-card p{
    font-size: 1.2rem;
    font-weight: 400;
}
input[type="text"]{
    font-family: cursive;
    font-weight: 400;
}
.announcements{
    padding: 1rem;
}
.announcements div {
    border: 2px solid black;
    padding: 1.3rem;
    margin-bottom: 1rem;
}
.trend-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid black;
    margin-right: 2rem;
    justify-content: center;
}
.trending > h2{
    margin-bottom: 1rem;
}
.trending img{
    max-width: 3.5rem;
    border-radius: 50%;
}
.trend-container div{
    display: flex;
    flex-direction: column nowrap;
    margin-bottom: 1rem;
}
.trending1 {
    display: flex;
    border-bottom: 1px dotted black;
    border-bottom-width: medium;
    padding-bottom: 0.3rem;
}
.trending1 p{
    align-self: center;
    color: firebrick;
    font-weight: 900;
}
.trending2 {
    display: flex;
    border-bottom: 1px dotted black;
    border-bottom-width: medium;
    padding-bottom: 0.3rem;
}
.trending2 p {
    align-self: center;
    color: firebrick;
    font-weight: 900;
}
.trending3 {
    display: flex;
    border-bottom: 1px dotted black;
    border-bottom-width: medium;
    padding-bottom: 0.3rem;
}
.trending3 p {
    align-self: center;
    color: firebrick;
    font-weight: 900;
}