@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700&display=swap');
:root{
    --solway: "Solway"
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.whole-page{
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    gap: 3rem;
    width: 90vw;
    height: 100vh;
}
.main-section{
    display: flex;
    background: yellow;
}
header.header{
    grid-column: 2;
    background: yellow;
}
.dashboard{
    grid-row: 1 / -1;
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.main-aside{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
}
/* _______________________________________________________________________________________________________________ */

aside.dashboard{
    background: black;
    color: yellow;
}
aside.dashboard a{
    text-decoration: none;
}
aside.dashboard ul li{
    color: yellow;
}

article.item-card{
    border: 2px solid hotpink;
}
